@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    margin-top: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #00678A;
    bottom: 0;
    font-family: 'Afacad';
    color: white;
}

.footerUp{
    display: flex;
    justify-content:center;
    gap: 50px;
}

.footerLeft {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 15px;
    padding: 20px;
}

.footerLeft h1 {
    font-size: 30px;
}

.footerLeft p {
    font-size: 20px;
    font-weight: 700;
}

.footerLeft i {
    font-size: 25px;
}

.footerLeft h5 {
    font-weight: 400;
    font-size: 16px;         
    line-height: 1.6; 
    color: white;   
}

.footerRight {
    gap: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.footerRight h4{
    font-weight: 500;
    font-size: 18px;
}

.footerRight .botao {
    display: flex;
    position: relative;
    height: 30px;
    color: #00678A;
    gap: 10px;
}

.footerRight input {
    background-color: #00678A;
    border: none; 
    border-bottom: 2px solid white; 
    font-size: 18px;
    font-weight: 500;
    color: white;
    height: 38px;
}

.footerRight input:focus {
    border-bottom: 2px solid white;
    outline: none;
}
.footerRight label:hover{
    border: none;
}
.footerRight label {
    position: absolute;
    color: black;
    padding: 12px 4px 4px 4px;
}

.footerRight button {
    padding: 20px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0099CC;
    color: white;
    font-family: 'Afacad';
    font-size: 20px;
    border: none;
    border-radius: 7px 7px 7px 7px;
    cursor: pointer;
}

.footerDown {
    display: flex;
    padding: 10px;
}

.point {
    display: flex;
    flex-direction: column;
    width: 43%;
}

.point img{
    display: flex;
    margin: auto;
}

.midia {
    display: flex;
    gap: 10px;
    justify-content: center;
}


.footerDown i {
    font-size: 25px;
}

@media (max-width: 768px) {

    footer {
        display: flex;
        gap: 20px;
    }

    .footerUp {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footerLeft {
        width: 100%;
        padding: 20px;
    }

    .footerRight {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerRight h4 {
        width: 90%;
    }

    .footerRight .botao {
        width: 90%;
    }

    .point {
        width: 70%;
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .midia {
        width: 55%;
        display: flex;
    }
}





