* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Afacad';
}

.pesquisa-home {
    display: flex;
    width: 65%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    background-color: #89CFF0;
    border-radius: 5px;
    height: 50px;
    padding: 2px;
    gap: 3px;
}

.pesquisa-home .coluna1 {
    display: flex;
    width: 30%;
}

.coluna1 .input1 {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.input1:focus {
    outline: none;
}

.input1::placeholder {
    font-size: 20px;
    font-family: 'Afacad';
    color: black;
}

.pesquisa-home .coluna2 {
    display: flex;
    width: 60%;
    gap: 2px;
}

.coluna2 .input2 {
    width: 50%;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.input2:focus {
    outline: none;
}

.input2::placeholder {
    font-size: 20px;
    font-family: 'Afacad';
    color: black;
}

.coluna2 .input3 {
    width: 50%;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.input3:focus {
    outline: none;
}

.input3::placeholder {
    font-size: 20px;
    font-family: 'Afacad';
    color: black;
}

.pesquisa-home .coluna3 {
    display: flex;
    width: 10%;
}

.coluna3 button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009cff;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
    transition: background-color 0.3s;
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 16px;
}



.ofertas {
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 5px;
    margin: auto;
}

.ofertas h3 {
    font-family: "Afacad";
    font-size: 25px;
    font-weight: 200;
    justify-content: start;
    width: 100%;

}

.visualizer {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    align-items: center;
    width: 100%;
}

.left, .right {
    position: relative;
    display: flex;
    width: 100%;
}

.ofertaL, .ofertaR {
    width: 100%;
    height: 180px;
    background-color: #C9C9C9;
    border-radius: 10px;
}

/* Seta esquerda */
.visualizer .left i {
    position: absolute;
    background-color: #e0e0e0;
    border-radius: 50%;
    padding: 10px;
    margin-left: -20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Seta direita */
.visualizer .right i {
    position: absolute;
    right: -20px;
    background-color: #e0e0e0;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    top: 35%;
}


.destinos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    width: 65%;
    gap: 20px;
}

.destinos h3 {
    font-family: "Afacad";
    font-size: 25px;
    font-weight: 200;
    justify-content: start;
    width: 100%;
}

.destinos .destinoUp {
    width: 100%;
    height: 240px;
    background-color: #C9C9C9;
    border-radius: 10px;
}

.destinoUp img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
    image-rendering: crisp-edges;
    cursor: pointer;
}

.destinoUp img:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.destinoDown {
    display: flex;
    gap: 10px;
    width: 100%;
}

.destinoR, .destinoL {
    width: 100%;
    height: 360px;
    background-color: #C9C9C9;
    border-radius: 10px;
}

.destinoL img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    image-rendering: crisp-edges;
}

.destinoR img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    image-rendering: crisp-edges;
}

.destinoL img:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.destinoR img:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.Mais {
    width: 65%;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Mais h3 {
    font-family: "Afacad";
    font-size: 25px;
    font-weight: 200;
    justify-content: start;
    width: 100%;
}

.MaisUp {
    display: flex;
    width: 100%;
    gap: 10px;
}

.up1 {
    width: 100%;
    display: flex;
    gap: 10px;
}

.up1 .item {
    border-radius: 10px;
    height: 130px;
    width: 100%;
    background-color: #C9C9C9;

}

.up2 {
    width: 100%;
    display: flex;
    gap: 10px;
}

.up2 .item {
    border-radius: 10px;
    height: 130px;
    width: 100%;
    background-color: #C9C9C9;

}

.MaisDown {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 60px;
}

.MaisDown .Mais1 {
    width: 100%;
    height: 220px;
    background-color: #D9D9D9;
    border-radius: 10px 10px 0px 0px;
}

.MaisDown .Mais2 {
    width: 100%;
    height: 200px;
    background-color: #C9C9C9;
    border-radius: 10px;
    border-radius: 0px 0px 10px 10px;
}

@media (max-width: 768px) {
    .pesquisa-home {
        width: 90%;
        display: flex;
        flex-direction: column;
        height: 100px;
        gap: 5px;
        background-color: #fff;
    }

    .pesquisa-home .coluna1 {
        width: 100%;
    }

    .coluna1 .input1 {
        border: 2px solid black;
    }
    
    .pesquisa-home .coluna2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 10px   ;
    }

    .coluna2 .input2 {
        border: 2px solid black;
    }

    .coluna2 .input3 {
        border: 2px solid black;
    }

    .pesquisa-home .coluna3 {
        width: 100%;
    }

    .coluna3 button {
        padding: 5px;
    }

    .ofertas {
        width: 90%;
    }

    .ofertas h3 {
        margin-top: 10px;
    }

    .ofertaL, .ofertaR {
        height: 120px;
    }

    .destinos {
        width: 90%;
    }

    .destinos .destinoUp {
        height: 180px;
    }

    .destinoR, .destinoL {
        height: 160px;
    }

    .Mais {
        width: 90%;
    }

    .MaisUp {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .MaisUp .up1 {
        display: flex;

    }

    .up1 .item {
        height: 110px;
    }

     .up2 .item {
        height: 110px;
    }

    .MaisDown {
        display: none;
    }
}


